

#wrapper {
    /*margin-top: -69px;*/
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin-top: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    /*margin-right: -250px;*/
    /*margin-left: -50px;*/
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 10px;
    width: 175px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
@media (max-width:768px){ .footer{position:absolute;width:100%;} }
@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 175px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .footer{position:fixed;bottom:0;height:60px;width:100%;}
}

header{
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    margin-top: -15px;
}
.footer {
  position: fixed;
  margin-top: 10px;
  bottom: 0px;
  width: 100%;
  
  height: 60px;
  /*background-color: #f5f5f5;*/
}
nav#footernav {
        width:100%;
        height:40px;
        text-align:center;
        padding:5px;
        color: white;
        background-color:rgba(0, 0, 0, 0.8);
        /*margin-top:10%;*/
        border: 1px solid yellow;
    }
